[Desktop Entry]
Type=Application
Name[ak]=Foforɔ
Name[ar]=أخرى
Name[az]=Digər
Name[bg]=Друго
Name[bs]=Ostalo
Name[ca]=Altres
Name[cs]=Ostatní
Name[da]=Andet
Name[de]=Andere
Name[en_AU]=Other
Name[en_CA]=Other
Name[en_GB]=Other
Name[eo]=Aliaj
Name[es]=Otro
Name[et]=Muu
Name[fi]=Muu
Name[fr]=Autre
Name[fr_CA]=Autre
Name[gl]=Outro
Name[he]=אחר
Name[hi]=अन्य
Name[hu]=Egyéb
Name[id]=Lainnya
Name[it]=Altro
Name[ja]=そのほか
Name[ko]=기타
Name[ku]=Wekî Din
Name[lt]=Kita
Name[mr]=इतर
Name[nb]=Annet
Name[nl]=Andere
Name[nn]=Anna
Name[pl]=Inne
Name[pt]=Outros
Name[pt_BR]=Outro
Name[ro]=Altele
Name[ru]=Другие
Name[si]=වෙනත්
Name[sk]=Ostatné
Name[sl]=Drugo
Name[sq]=Tjetër
Name[sr]=Друго
Name[sv]=Annat
Name[szl]=Inksze
Name[ta]=மற்றது
Name[tl]=Iba pa
Name[tr]=Diğer
Name[ug]=باشقا
Name[uk]=Інше
Name[ur]=دیگر
Name[vi]=Khác
Name[zh_CN]=其他
Name[zh_TW]=其他
Name=Other
Comment[bs]=Pričuvna datoteka radne površine za obavijesti iz zastarjelih aplikacija.
Comment[ca]=Fitxer d'escriptori alternatiu per a notificacions d'aplicacions desactualitzades.
Comment[cs]=Záložní soubor desktop pro upozornění ze zastaralých aplikací.
Comment[da]=Fallback desktop-fil til notifikationer fra forældede applikationer.
Comment[de]=Fallback-Desktop-Datei für Benachrichtigungen aus veralteten Anwendungen.
Comment[en_AU]=Fallback desktop file for notifications from outdated applications.
Comment[en_CA]=Fallback desktop file for notifications from outdated applications.
Comment[en_GB]=Fallback desktop file for notifications from outdated applications.
Comment[eo]=Retrodefaŭlta dosiero “.desktop”  por atentigoj el eksdataj aplikaĵoj.
Comment[es]=Archivo de restauración para notificaciones de aplicaciones desactualizadas.
Comment[fi]=Varatyöpöytätiedosto vanhanaikaisten sovellusten ilmoituksia varten.
Comment[fr]=Fichier desktop de secours pour les notifications provenant des vieilles applications.
Comment[he]=קובץ שולחן עבודה כמנגנון גיבוי להודעות מיישומים מיושנים.
Comment[hu]=Tartalék asztali fájl az elavult alkalmazásoktól érkező értesítéseknek.
Comment[id]=Sandaran berkas desktop untuk pemberitahuan dari aplikasi kadaluarsa.
Comment[it]=File .desktop di ripiego per le notifiche di applicazioni datate.
Comment[ja]=従来のアプリケーションからの通知用のフォールバックデスクトップファイルです。
Comment[ko]=오래된 애플리케이션 알림을 위한 대체 데스크톱 파일.
Comment[lt]=Atsarginis darbalaukio failas, skirtas pranešimams iš pasenusių programų.
Comment[mr]=कालबाह्य अनुप्रयोगांकडील सूचनांसाठी फॉलबॅक डेस्कटॉप फाइल.
Comment[nb]=Tilbakefallsskrivebordsfil for varsler fra utdaterte programmer.
Comment[nl]=Een reserve desktopbestand voor notificaties van verouderde applicaties.
Comment[nn]=Tilbakefallsfil for varsel frå utdaterte program.
Comment[pl]=Rezerwowy plik pulpitu dla powiadomień z nieaktualnych programów.
Comment[pt]=Ficheiro de retorno do ambiente de trabalho para notificações de aplicações desatualizadas.
Comment[pt_BR]=Arquivo reserva para notificações de aplicativos desatualizados.
Comment[ru]=Устаревший файл desktop для уведомлений от устаревших приложений.
Comment[sl]=Nadomestna desktop datoteka za obvestila iz zastarelih aplikacij.
Comment[sv]=Reservskrivbordsfil för notifikationer från utdaterade program.
Comment[szl]=Zbiōr powrotu dlo powiadōmiyń ôd starych programōw.
Comment[tr]=Güncel olmayan uygulamalardan gelen bildirimler için yedek masaüstü dosyası.
Comment[zh_CN]=过期应用通知的备用桌面文件。
Comment[zh_TW]=過期應用程式通知的後備桌面檔。
Comment=Fallback desktop file for notifications from outdated applications.
Icon[bs]=applications-other
Icon[ca]=applications-other
Icon[cs]=applications-other
Icon[da]=applications-other
Icon[de]=applications-other
Icon[en_AU]=applications-other
Icon[en_CA]=applications-other
Icon[en_GB]=applications-other
Icon[eo]=applications-other
Icon[es]=applications-other
Icon[fi]=applications-other
Icon[fr]=applications-other
Icon[he]=applications-other
Icon[hu]=applications-other
Icon[id]=aplikasi-lainnya
Icon[it]=altra-applicazione
Icon[ja]=applications-other
Icon[ko]=applications-other
Icon[lt]=applications-other
Icon[mr]=अनुप्रयोग-इतर
Icon[nb]=applications-other
Icon[nl]=applicaties-overige
Icon[nn]=applications-other
Icon[pl]=applications-other
Icon[pt]=applications-other
Icon[pt_BR]=applications-other
Icon[ru]=applications-other
Icon[si]=applications-other
Icon[sl]=applications-other
Icon[sv]=applications-other
Icon[szl]=applications-other
Icon[tr]=applications-other
Icon[vi]=applications-other
Icon[zh_CN]=applications-other
Icon[zh_TW]=applications-other
Icon=applications-other
NoDisplay=true
X-GNOME-UsesNotifications=true
