[Desktop Entry]
Name[af]=Foto’s
Name[ar]=صور
Name[bg]=Снимки
Name[bs]=Fotografije
Name[ca]=Fotografies
Name[ckb]=وێنەکان
Name[cs]=Fotky
Name[da]=Fotos
Name[de]=Photos
Name[el]=Φωτογραφίες
Name[en_AU]=Photos
Name[en_CA]=Photos
Name[en_GB]=Photos
Name[eo]=Fotoj
Name[es]=Fotos
Name[fi]=Kuvat
Name[fr]=Photos
Name[gl]=Fotos
Name[he]=תמונות
Name[hi]=तस्वीरें
Name[hr]=Fotografije
Name[hu]=Fotók
Name[id]=Foto
Name[io]=Fotografuri
Name[it]=Foto
Name[ja]=フォト
Name[ko]=사진
Name[ku]=wêne
Name[lt]=Nuotraukos
Name[mr]=छायाचित्र
Name[ms]=Foto-foto
Name[nb]=Bilder
Name[nl]=Foto's
Name[nn]=Bilete
Name[oc]=Fòtos
Name[pl]=Zdjęcia
Name[pt]=Fotos
Name[pt_BR]=Fotos
Name[ru]=Фотографии
Name[sk]=Fotografie
Name[sl]=Fotografije
Name[sq]=Fotografitë
Name[sr]=Фотографије
Name[sv]=Bilder
Name[tl]=Mga Litrato
Name[tr]=Fotoğraflar
Name[ug]=سۈرەتلەر
Name[uk]=Фотографії
Name[zh_CN]=照片
Name[zh_TW]=相片
Name=Photos
Comment[af]=Organiseer u foto’s
Comment[bg]=Организирайте снимките си
Comment[bs]=Organizirajte svoje fotografije
Comment[ca]=Organitzeu les fotografies
Comment[ckb]=ڕێکخستنی وێنەکانت
Comment[cs]=Spravujte své fotografie
Comment[da]=Organiser dine billeder
Comment[de]=Ihre Fotos verwalten
Comment[el]=Οργανώστε τις φωτογραφίες σας
Comment[en_AU]=Organize your photos
Comment[en_CA]=Organize your photos
Comment[en_GB]=Organise your photos
Comment[eo]=Organizu viajn fotojn
Comment[es]=Organice sus fotos
Comment[fi]=Järjestä digikuvasi
Comment[fr]=Organisez vos photos
Comment[he]=ארגון התמונות שלך
Comment[hr]=Organiziraj svoje fotografije
Comment[hu]=Rendezze fotóit
Comment[id]=Atur foto Anda
Comment[it]=Organizza le tue foto
Comment[iu]=Организуй свои фотографии
Comment[ja]=写真を整理します
Comment[ko]=사진을 정리합니다
Comment[ku]=Wêne li dar xistin
Comment[lt]=Tvarkyti savo nuotraukas
Comment[mr]=आपले फोटो व्यवस्थित लावा
Comment[ms]=Uruskan foto-foto anda
Comment[nb]=Organiser dine bilder
Comment[nl]=Organiseer uw foto's
Comment[nn]=Organiser bileta dine
Comment[oc]=Organizatz vòstras fòtos
Comment[pl]=Zarządzaj swoimi zdjęciami
Comment[pt]=Organize as suas fotos
Comment[pt_BR]=Organize suas fotos
Comment[ru]=Организуйте ваши фотографии
Comment[sk]=Usporiadať svoje fotografie
Comment[sl]=Organizirajte svoje fotografije
Comment[sq]=Organizoni fotot tuaja
Comment[sr]=Организујте ваше фотографије
Comment[sv]=Organisera dina bilder
Comment[tl]=Mag-organize ng iyong mga Litrato
Comment[tr]=Fotoğraflarınızı yönetin
Comment[ug]=سۈرەتلىرىڭىزنى باشقۇرۇڭ
Comment[uk]=Упорядкуйте свої фото
Comment[zh_CN]=管理您的照片
Comment[zh_TW]=整理您的相片
Comment=Organize your photos
Exec=io.elementary.photos %U
Icon[bs]=multimedia-photo-manager
Icon[ca]=multimedia-photo-manager
Icon[cs]=multimedia-photo-manager
Icon[da]=multimedia-photo-manager
Icon[de]=multimedia-photo-manager
Icon[en_AU]=multimedia-photo-manager
Icon[en_CA]=multimedia-photo-manager
Icon[en_GB]=multimedia-photo-manager
Icon[eo]=multimedia-photo-manager
Icon[es]=multimedia-photo-manager
Icon[fi]=multimedia-photo-manager
Icon[fr]=multimedia-photo-manager
Icon[he]=multimedia-photo-manager
Icon[id]=multimedia-photo-manager
Icon[it]=multimedia-photo-manager
Icon[ja]=multimedia-photo-manager
Icon[ko]=multimedia-photo-manager
Icon[lt]=multimedia-photo-manager
Icon[mr]=multimedia-photo-manager
Icon[nb]=multimedia-photo-manager
Icon[nl]=multimedia-photo-manager
Icon[nn]=multimedia-photo-manager
Icon[pl]=multimedia-photo-manager
Icon[pt]=multimedia-photo-manager
Icon[pt_BR]=multimedia-photo-manager
Icon[ru]=multimedia-photo-manager
Icon[sv]=multimedia-photo-manager
Icon[tr]=multimedia-photo-manager
Icon[zh_CN]=multimedia-photo-manager
Icon=multimedia-photo-manager
GenericName[af]=Fotobestuurder
GenericName[ar]=مدير الصور
GenericName[bg]=Управление на снимки
GenericName[bs]=Upravitelj fotografija
GenericName[ca]=Gestor de fotografies
GenericName[ckb]=بەڕێوەبەری وێنە
GenericName[cs]=Správce fotografií
GenericName[da]=Foto Manager
GenericName[de]=Fotoverwaltung
GenericName[en_AU]=Photo Manager
GenericName[en_CA]=Photo Manager
GenericName[en_GB]=Photo Manager
GenericName[eo]=Mastrumilo de fotoj
GenericName[es]=Gestor de fotos
GenericName[fi]=Valokuvien hallinta
GenericName[fr]=Gestionnaire de photos
GenericName[he]=מנהל תמונות
GenericName[hi]=फ़ोटो प्रबंधक
GenericName[hr]=Upravitelj fotografija
GenericName[hu]=Fotókezelő
GenericName[id]=Pengelola Foto
GenericName[it]=Gestore di foto
GenericName[iu]=Менеджер фотографий
GenericName[ja]=フォトマネージャー
GenericName[ko]=사진 관리 도구
GenericName[ku]=Rêvebirê Wêneyan
GenericName[lt]=Nuotraukų tvarkytuvė
GenericName[mr]=छायाचित्र व्यवस्थापक
GenericName[ms]=Pengurus Foto
GenericName[nb]=Fotobehandler
GenericName[nl]=Fotobeheerder
GenericName[nn]=Biletebehandlar
GenericName[oc]=Gestionari de fòtos
GenericName[pl]=Menedżer zdjęć
GenericName[pt]=Gestor de Fotos
GenericName[pt_BR]=Organizador de fotos
GenericName[ru]=Менеджер фотографий
GenericName[sk]=Správca fotografií
GenericName[sl]=Upravljalnik fotografij
GenericName[sr]=Управник фотографијама
GenericName[sv]=Bildhanterare
GenericName[tl]=Pang-manage ng mga Litrato
GenericName[tr]=Fotoğraf Yöneticisi
GenericName[ug]=سۈرەت باشقۇرغۇچ
GenericName[uk]=Фото Менеджер
GenericName[zh_CN]=照片管理器
GenericName[zh_TW]=相片管理員
GenericName=Photo Manager
Keywords[af]=album;kamera’s;sny by;wysig;verbeter;stuur uit;galery;beelde;voer in;organiseer;foto’s;foto’s;prente;fotografie;druk;publiseer;roteer;deel;merkies;video;
Keywords[bs]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[ca]=àlbum;càmeres;retalla;edita;millora;exporta;galeria;imatges;importa;organitza;fotografies;fotos;imatges;fotografia;impressió;publica;gira;comparteix;etiquetes;vídeo;
Keywords[cs]=album;fotoaparáty;oříznout;editovat;vylepšit;exportovat;galerie;obrázky;importovat;organizovat;fotografie;fotky;fotografovaní;tisk;publikovat;otočit;sdílet;označení;video;
Keywords[da]=album;kameraer;beskær;rediger;fremhæv;eksportér;galleri;billeder;importér;organiser;fotografier;fotos;billeder;udskriv;udgiv;roter;del;tags;video;
Keywords[de]=album;kameras;zuschneiden;bearbeiten;optimieren;exportieren;galerie;bilder;importieren;verwalten;fotografien;fotos;bilder;fotografie;drucken;veröffentlichen;drehen;teilen;schlüsselwörter;video;
Keywords[en_AU]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[en_CA]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[en_GB]=album;cameras;crop;edit;enhance;export;gallery;images;import;organise;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Keywords[eo]=albumo;kamerao;fotilo;eldoni;plibonigi;eksporto;galerio;bildo;importi;organizi;fotografo;foto;printi;presi;publikigi;turni;kunhavigi;etikedo;video;filmo;kino;
Keywords[es]=álbum;cámaras;recortar;editar;mejorar;exportar;galería;imágenes;importar;organizar;fotografías;fotos;imágenes;fotografía;imprimir;publicar;girar;compartir;etiquetas;vídeo;
Keywords[fi]=albumi;kamerat;leikkaa;muokkaa;tehosta;vie;galleria;kuvat;tuo;järjestä;valokuvat;valokuvat;kuvat;valokuvaus;tulosta;julkaise;kierrä;jaa;tunnisteet;video;
Keywords[fr]=album;appareil photo;retailler;éditer;améliorer;exporter;galerie;images;importer;organiser;photographes;photos;images;photographie;imprimer;publier;rotation;partager;tags;vidéo;
Keywords[he]=אלבום;מצלמות;חיתוך;עריכה;שיפור;ייצוא;גלריה;תמונות;ייבוא;יבוא;ארגון;אירגון;צילומים;ציורים;איורים;צילום;הדפסה;הפצה;פרסום;הטיה;שיתוף;תיוג;סרטונים;וידאו;
Keywords[hr]=album;kamera;obreži;uredi;poboljšaj;izvezi;galerija;slike;uvezi;organiziraj;fotografije;fotke;slika;fotografija;ispiši;objavi;zakreni;podijeli;oznake;video snimka;
Keywords[hu]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;kamerák;vágás;szerkesztés;javítás;képtár;rendezés;fotók;képek;nyomtatás;közzététel;forgatás;megosztás;címkék;videó;
Keywords[id]=album;kamera;potong;edit;menambah;ekspor;galeri;gambar;impor;atur;fotografi;foto;gambar;fotografi;cetak;publikasikan;gulirkan;bagikan;tag;video;
Keywords[it]=album;camera;taglia;modifica;ingrandisci;esporta;galleria;immagini;importa;organizza;fotografie;foto;immagini;fotografia;stampa;pubblica;ruota;condividi;tag;video;
Keywords[iu]=альбом;камеры;вырезать;изменить;усилить;экспорт;галерея;изображения;импорт;организовать;фотографы;фото;печать;публикация;вращать;поделиться;теги;видео;
Keywords[ja]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;アルバム;カメラ;切り抜き;編集;補正;エクスポート;ギャラリー;画像;インポート;オーガナイズ;写真;フォト;ピクチャー;写真撮影;印刷;公開;回転;共有;タグ;動画;
Keywords[ko]=앨범;카메라;크롭;편집;화질 강화;내보내기;갤러리;이미지;가져오기;정리;사진;사진;사진;사진;출력;공유;회전;공유;태그;비디오;
Keywords[lt]=albumas;kameros;apkirpti;redaguoti;patobulinti;eksportuoti;galerija;paveikslai;tvarkyti;fotografai;nuotraukos;fotografija;spausdinti;skelbti;pasukti;bendrinti;žymės;vaizdo įrašas;
Keywords[mr]=अल्बम; कॅमेरे; क्रॉप; संपादन; सुधारणा; निर्यात; गॅलरी; प्रतिमा; आयात; मांडणी; फोटो; फोटो; चित्रे; फोटोग्राफी; मुद्रित; प्रकाशित; फिरवा; शेअर; टॅग्ज; व्हिडिओ;
Keywords[nb]=album;kameraer;crop;rediger;forbedre;eksporter;galleri;bilder;importer;organiser;fotografier;fotoer;bilder;fotografi;utskrift;publiser;roter;del;tagger;video;
Keywords[nl]=album;cameras;bijsnijden;aanpassen;verbeteren;exporteren;gallerij;afbeeldingen;importeren;organiseren;foto;foto’s;fotografie;printen;publiceren;draaien;delen;labels;tags;video;
Keywords[nn]=album;kamera;crop;rediger;forbetre;eksporter;galleri;bilete;bilde;importer;organiser;fotografi;foto;utskrift;publiser;roter;del;taggar;video;
Keywords[pl]=album;aparaty;przytnij;edytuj;zwiększ;eksport;obrazy;import;fotografie;zdjęcia;fotografia;druk;publikuj;obróć;udostępnij;znaczniki;wideo;
Keywords[pt]=álbum;câmaras;recortar;editar;melhorar;exportar;galeria;imagens;importar;organizar;fotografias;fotos;fotografia;imprimir;publicar;rodar;partilhar;etiquetas;vídeo;
Keywords[pt_BR]=álbum;câmeras;cortar;editar;melhorar;exportar;galeria;imagens;importar;organizar;fotografias;fotos;figuras;fotografia;impressão;publicar;girar;compartilhar;tags;vídeo;
Keywords[ru]=альбом;камеры;вырезать;изменить;усилить;экспорт;галерея;изображения;импорт;организовать;фотографы;фото;печать;публикация;вращать;поделиться;теги;видео;
Keywords[sk]=album;fotoaparáty;orezať;upraviť;vylepšiť;exportovať;galéria;obrázky;import;správa;fotografie;fotky;obrázky;fotografia;tlač;zverejniť;otočiť;zdieľať;značky;video;
Keywords[sl]=album;kamera;fotoaparat;izreži;uredi;izboljšaj;galerija;slike;fotografije;organiziraj;fotografija;natisni;tiskaj;objavi;obrni;deli;video;film;
Keywords[sr]=албум;фото-апарат;исеци;уреди;побољшај;извези;збирка;слике;увези;организуј;фотографије;слике;фотографија;штампај;објави;окрени;дели;означи;
Keywords[sv]=album;kameror;beskär;redigera;förbättra;exportera;galleri;bilder;importera;organisera;fotografier;foton;fotografering;skriv ut;publicera;rotera;dela;taggar;video;
Keywords[tl]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;litrato;larawan;
Keywords[tr]=albüm;kameralar;kes;düzenle;arttır;dışa aktar;galeri;resimler;içe aktar;yönet;fotoğraflar;fotoğraflar;resimler;fotoğraf;yazdır;yayınla;çevir;paylaş;etiketler;video;
Keywords[ug]=ئالبوم;كامىرالار;كىسىش;تەھرىرلەش;كۈچەيتىش;چىقىرىش;رەسىم كارىدورى;رەسىملەر;كىرگۈزۈش;باشقۇرۇش;فوتوگرافلار;سۈرەتلەر;رەسىملەر;فوتوگرافچىلىق;بىسىش;ئىلان قىلىش;چۆرگىلىتىش;ھەمبەھىرلەش;خەتكۈچ;ۋېدىئو;
Keywords[zh_CN]=相册;相机;剪裁;编辑;增强;导出;展示;图像;导入;管理;摄影;照片;图片;拍摄;打印;发布;旋转;分享;标签;视频;
Keywords[zh_TW]=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;相簿;照相機;相機;裁切;編輯;增強;優化;匯出;畫廊;影像;圖片;相片;匯入;整理;攝影;列印;發佈;發表;分享;旋轉;共享;標籤;標記;視訊;影片;
Keywords=album;cameras;crop;edit;enhance;export;gallery;images;import;organize;photographs;photos;pictures;photography;print;publish;rotate;share;tags;video;
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-content/image-dcf;
Categories=Graphics;Photography;GNOME;GTK;
X-GNOME-UsesNotifications=false
