[Desktop Entry]
Name[af]=Fotokyker
Name[ar]=عارض الصور
Name[bg]=Програма за преглед на снимки
Name[bs]=Preglednik fotografija
Name[ca]=Visualitzador de fotografies
Name[ckb]=پیشاندەری وێنە
Name[cs]=Prohlížeč fotografií
Name[da]=Fotofremviser
Name[de]=Fotobetrachter
Name[el]=Προβολή φωτογραφιών
Name[en_AU]=Photo Viewer
Name[en_CA]=Photo Viewer
Name[en_GB]=Photo Viewer
Name[eo]=Vidilo de fotoj
Name[es]=Visor de fotos
Name[fi]=Valokuvien katselin
Name[fr]=Visionneuse de photos
Name[he]=מציג תמונות
Name[hi]=फ़ोटो प्रदर्शक
Name[hr]=Preglednik fotografija
Name[hu]=Fotómegjelenítő
Name[id]=Penampil Foto
Name[it]=Visualizzatore di foto
Name[ja]=フォトビューアー
Name[ko]=사진 보기
Name[ku]=Nîşanderê Wêneyan
Name[lt]=Nuotraukų žiūryklė
Name[mr]=फोटो दर्शक
Name[ms]=Pemapar Foto
Name[nb]=Fotofremviser
Name[nl]=Fotoviewer
Name[nn]=Biletevisar
Name[oc]=Visionador de fòtos
Name[pl]=Przeglądarka zdjęć
Name[pt]=Visualizador de fotos
Name[pt_BR]=Visualizador de fotos
Name[ru]=Просмотрщик фотоснимков
Name[sk]=Prehliadač fotografií
Name[sl]=Pregledovalnik fotografij
Name[sr]=Прегледач фотографија
Name[sv]=Bildvisare
Name[tl]=Pang-view ng mga Litrato
Name[tr]=Fotoğraf Görüntüleyici
Name[ug]=سۈرەت كۆرگۈچ
Name[uk]=Переглядач фотографій
Name[zh_CN]=照片查看器
Name[zh_TW]=相片檢視器
Name=Photo Viewer
GenericName[af]=Fotokyker
GenericName[ar]=عارض الصور
GenericName[bg]=Програма за преглед на снимки
GenericName[bs]=Preglednik fotografija
GenericName[ca]=Visualitzador de fotografies
GenericName[ckb]=پیشاندەری وێنە
GenericName[cs]=Prohlížeč fotografií
GenericName[da]=Fotofremviser
GenericName[de]=Fotobetrachter
GenericName[el]=Προβολή φωτογραφιών
GenericName[en_AU]=Photo Viewer
GenericName[en_CA]=Photo Viewer
GenericName[en_GB]=Photo Viewer
GenericName[eo]=Vidilo de fotoj
GenericName[es]=Visor de fotos
GenericName[fi]=Valokuvien katselin
GenericName[fr]=Visionneuse de photos
GenericName[he]=מציג תמונות
GenericName[hi]=फ़ोटो प्रदर्शक
GenericName[hr]=Preglednik fotografija
GenericName[hu]=Fotómegjelenítő
GenericName[id]=Penampil Foto
GenericName[it]=Visualizzatore di foto
GenericName[ja]=フォトビューアー
GenericName[ko]=사진 보기
GenericName[ku]=Nîşanderê Wêneyan
GenericName[lt]=Nuotraukų žiūryklė
GenericName[mr]=फोटो दर्शक
GenericName[ms]=Pemapar Foto
GenericName[nb]=Fotofremviser
GenericName[nl]=Fotoviewer
GenericName[nn]=Biletevisar
GenericName[oc]=Visionador de fòtos
GenericName[pl]=Przeglądarka zdjęć
GenericName[pt]=Visualizador de fotos
GenericName[pt_BR]=Visualizador de fotos
GenericName[ru]=Просмотрщик фотоснимков
GenericName[sk]=Prehliadač fotografií
GenericName[sl]=Pregledovalnik fotografij
GenericName[sr]=Прегледач фотографија
GenericName[sv]=Bildvisare
GenericName[tl]=Pang-view ng mga Litrato
GenericName[tr]=Fotoğraf Görüntüleyici
GenericName[ug]=سۈرەت كۆرگۈچ
GenericName[uk]=Переглядач фотографій
GenericName[zh_CN]=照片查看器
GenericName[zh_TW]=相片檢視器
GenericName=Photo Viewer
Exec=io.elementary.photos %U
Icon[bs]=multimedia-photo-viewer
Icon[ca]=multimedia-photo-viewer
Icon[cs]=multimedia-photo-viewer
Icon[da]=multimedia-photo-viewer
Icon[de]=multimedia-photo-viewer
Icon[en_AU]=multimedia-photo-viewer
Icon[en_CA]=multimedia-photo-viewer
Icon[en_GB]=multimedia-photo-viewer
Icon[eo]=multimedia-photo-viewer
Icon[es]=multimedia-photo-viewer
Icon[fi]=multimedia-photo-viewer
Icon[fr]=multimedia-photo-viewer
Icon[he]=multimedia-photo-viewer
Icon[id]=multimedia-photo-viewer
Icon[it]=multimedia-photo-viewer
Icon[ja]=multimedia-photo-viewer
Icon[ko]=multimedia-photo-viewer
Icon[lt]=multimedia-photo-viewer
Icon[mr]=multimedia-photo-viewer
Icon[nb]=multimedia-photo-viewer
Icon[nl]=multimedia-photo-viewer
Icon[nn]=multimedia-photo-viewer
Icon[pl]=multimedia-photo-viewer
Icon[pt]=multimedia-photo-viewer
Icon[pt_BR]=multimedia-photo-viewer
Icon[ru]=multimedia-photo-viewer
Icon[sv]=multimedia-photo-viewer
Icon[tr]=multimedia-photo-viewer
Icon[zh_CN]=multimedia-photo-viewer
Icon=multimedia-photo-viewer
Terminal=false
NoDisplay=true
Type=Application
StartupNotify=true
MimeType=image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/gif;image/x-3fr;image/x-adobe-dng;image/x-arw;image/x-bay;image/x-bmp;image/x-canon-cr2;image/x-canon-crw;image/x-cap;image/x-cr2;image/x-crw;image/x-dcr;image/x-dcraw;image/x-dcs;image/x-dng;image/x-drf;image/x-eip;image/x-erf;image/x-fff;image/x-fuji-raf;image/x-iiq;image/x-k25;image/x-kdc;image/x-mef;image/x-minolta-mrw;image/x-mos;image/x-mrw;image/x-nef;image/x-nikon-nef;image/x-nrw;image/x-olympus-orf;image/x-orf;image/x-panasonic-raw;image/x-pef;image/x-pentax-pef;image/x-png;image/x-ptx;image/x-pxn;image/x-r3d;image/x-raf;image/x-raw;image/x-rw2;image/x-rwl;image/x-rwz;image/x-sigma-x3f;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/x-sr2;image/x-srf;image/x-x3f;image/webp;
Categories=Graphics;Viewer;Photography;GNOME;GTK;
