[Desktop Entry]
Type=Application
Name[ar]=الكاميرا
Name[az]=Kamera
Name[bg]=Камера
Name[bs]=Kamera
Name[ca]=Càmera
Name[cs]=Kamera
Name[da]=Kamera
Name[de]=Kamera
Name[el]=Κάμερα
Name[en_AU]=Camera
Name[en_CA]=Camera
Name[en_GB]=Camera
Name[eo]=Fotilo
Name[es]=Cámara
Name[fa]=دوربین
Name[fi]=Kamera
Name[fr]=Caméra
Name[gl]=Cámara
Name[he]=מצלמה
Name[hi]=कैमरा
Name[hr]=Kamera
Name[hu]=Kamera
Name[id]=Kamera
Name[it]=Camera
Name[ja]=カメラ
Name[ko]=카메라
Name[ku]=Kamîre
Name[lt]=Kamera
Name[mr]=कॅमेरा
Name[ms]=Kamera
Name[my]=ကင်မရဦ
Name[nb]=Kamera
Name[nn]=Kamera
Name[pl]=Aparat
Name[pt]=Câmara Fotográfica
Name[pt_BR]=Câmera
Name[ru]=Камера
Name[sk]=Kamera
Name[sl]=Kamera
Name[sr]=Камера
Name[sv]=Kamera
Name[tl]=Kamera
Name[tr]=Kamera
Name[uk]=Камера
Name[vi]=Máy ảnh
Name[zh]=照相机
Name[zh_CN]=相机
Name[zh_TW]=攝影機
Name=Camera
Comment[ar]=التقاط صور و فيديو عبر الكاميرا
Comment[bs]=Slikajte i snimajte pomoću kamere
Comment[ca]=Feu fotografies i vídeos amb la càmera
Comment[cs]=Snímejte fotky a videa pomocí kamery
Comment[da]=Tag fotos og videoer med kameraet
Comment[de]=Fotos und Videos mit der Kamera aufnehmen
Comment[en_AU]=Take photos and videos with the camera
Comment[en_CA]=Take photos and videos with the camera
Comment[en_GB]=Take photos and videos with the camera
Comment[eo]=Foti kaj filmi per kamerao
Comment[es]=Toma fotos y vídeos con la cámara
Comment[fi]=Ota kuvia ja videoita kameralla
Comment[fr]=Prendre des photos et des vidéos avec la caméra
Comment[gl]=Facer fotos e videos coa cámara
Comment[he]=צילום תמונות וסרטונים עם המצלמה
Comment[hi]=कैमरे का उपयोग करके फ़ोटो और वीडियो निकालें
Comment[hr]=Fotografiraj i snimaj video kamerom
Comment[hu]=Fotó vagy videó rögzítése a kamerával
Comment[it]=Scatta foto e registra video con la camera
Comment[ja]=カメラで写真と動画を撮影します
Comment[ko]=카메라는 사진이나 비디오를 찍는 앱입니다
Comment[lt]=Fotografuoti nuotraukas ir filmuoti vaizdo įrašus naudojant kamerą
Comment[mr]=कॅमेरा वापरून फोटो आणि व्हिडीओ काढा
Comment[nb]=Ta bilder og spill inn video med kameraet
Comment[nl]=Creëer foto's en video's met de camera
Comment[nn]=Ta bilde og spel inn video med kameraet
Comment[pl]=Rób zdjęcia i nagrywaj filmy za pomocą kamery
Comment[pt]=Tire fotos e vídeos com a câmera
Comment[pt_BR]=Capture fotos e vídeos com a câmera
Comment[ru]=Делайте фотографии и записывайте видео с помощью камеры
Comment[sl]=Slikajte in snemajte videe s kamero
Comment[sr]=Napravite slike i snimke uz pomoć kamera
Comment[sv]=Ta foton och spela in video med kameran
Comment[tl]=Kumuha ng mga larawan at mga video gamit ang kamera
Comment[tr]=Kamera ile fotoğraf ve video çekin
Comment[uk]=Фотографуйте та знімайте відео за допомогою камери
Comment[zh_CN]=使用相机拍摄照片和视频
Comment[zh_TW]=使用相機拍攝照片和影片
Comment=Take photos and videos with the camera
GenericName[ar]=حجرة التصوير
GenericName[bs]=Fotoautomat
GenericName[ca]=Cabina de fotos
GenericName[cs]=Fotobudka
GenericName[da]=Fotobås
GenericName[de]=Fotoautomat
GenericName[en_AU]=Photo Booth
GenericName[en_CA]=Photo Booth
GenericName[en_GB]=Photo Booth
GenericName[eo]=Fotobudo
GenericName[es]=Cabina de fotos
GenericName[fi]=Kuvakoppi
GenericName[fr]=Cabine photographique
GenericName[gl]=Fotomatón
GenericName[he]=תא צילום
GenericName[hi]=फोटो बूथ
GenericName[hr]=Foto-kabina
GenericName[it]=Cabina fotografica
GenericName[ja]=フォトブース
GenericName[ko]=포토 부스
GenericName[lt]=Nuotraukų būdelė
GenericName[mr]=फोटो बूथ
GenericName[nb]=Bildeavlukke
GenericName[nl]=Photo Booth
GenericName[nn]=Photo Booth
GenericName[pl]=Automat fotograficzny
GenericName[pt]=Cabine de fotos
GenericName[pt_BR]=Cabine Fotográfica
GenericName[ru]=Фото будка
GenericName[sl]=Photo Booth
GenericName[sr]=Fotografski štand
GenericName[sv]=Fotobås
GenericName[tl]=Photo Booth
GenericName[tr]=Fotoğraf Kabini
GenericName[uk]=Фотобудка
GenericName[zh_CN]=照相馆特效
GenericName[zh_TW]=相館
GenericName=Photo Booth
Exec=io.elementary.camera
Icon[bs]=accessories-camera
Icon[ca]=accessories-camera
Icon[cs]=accessories-camera
Icon[da]=accessories-camera
Icon[de]=accessories-camera
Icon[en_AU]=accessories-camera
Icon[en_CA]=accessories-camera
Icon[en_GB]=accessories-camera
Icon[eo]=accessories-camera
Icon[es]=accessories-camera
Icon[fi]=accessories-camera
Icon[fr]=accessories-camera
Icon[gl]=accessories-camera
Icon[he]=accessories-camera
Icon[hi]=accessories-camera
Icon[it]=accessories-camera
Icon[ja]=accessories-camera
Icon[ko]=accessories-camera
Icon[lt]=accessories-camera
Icon[mr]=accessories-camera
Icon[nb]=accessories-camera
Icon[nl]=accessories-camera
Icon[nn]=accessories-camera
Icon[pl]=accessories-camera
Icon[pt]=accessories-camera
Icon[pt_BR]=accessories-camera
Icon[ru]=accessories-camera
Icon[sr]=accessories-camera
Icon[sv]=accessories-camera
Icon[tl]=accessories-camera
Icon[tr]=accessories-camera
Icon[uk]=accessories-camera
Icon[zh_CN]=accessories-camera
Icon=accessories-camera
Terminal=false
Categories=GNOME;AudioVideo;
Keywords[ar]=صور;فيديو;ويب كام; كاميرا;حجرة التصوير;
Keywords[bs]=Photo;Video;Webcam;Camera;Booth;
Keywords[ca]=Foto;Vídeo,Webcam;Càmera;Cabina;
Keywords[cs]=Fotka;Fotky;Video;Webkamera;Kamera;Camera;Budka;Snímek;Záběr;Fotoaparát;Foťák;Fotografie;Camera;Webcam;
Keywords[da]=Foto;Video;Webcam;Kamera;Bås;
Keywords[de]=Photo;Video;Webcam;Camera;Booth;Foto;Kamera;
Keywords[en_AU]=Photo;Video;Webcam;Camera;Booth;
Keywords[en_CA]=Photo;Video;Webcam;Camera;Booth;
Keywords[en_GB]=Photo;Video;Webcam;Camera;Booth;
Keywords[eo]=Foto;Filmo;Retkamerao;Fotilo;Budo;
Keywords[es]=Foto;Video;Webcam;Camara;Booth;
Keywords[fi]=Kuva;Video;Web-kamera;Kamera;Koppi;
Keywords[fr]=Photo;Vidéo;Webcam;Caméra;Photomaton;Selfie;
Keywords[gl]=Foto:Video:Cámara web; Cámara;Posto;
Keywords[he]=תמונה;צילום;סרט;הסרטה;סרטון;וידאו;מצלמה;תא;מצלמת רשת;
Keywords[hi]=फोटो;व्हिडीओ;वेबकॅम;कॅमेरा;बूथ;
Keywords[hr]=Fotografija;Video;Web kamera;Kamera;Kabina;
Keywords[hu]=Féynkép;Fotó;Videó;Webkamera;Kamera;Booth;
Keywords[it]=Foto;Video;Webcam;Camera;Cabina;
Keywords[ja]=Photo;Video;Webcam;Camera;Booth;写真;動画;Web カメラ;カメラ;ブース;
Keywords[ko]=사진;비디오;웹캠;카메라;부스;
Keywords[lt]=Nuotrauka;Vaizdo įrašas;Video;Internetinė vaizdo kamera;Kamera;Būdelė;Kabina;
Keywords[mr]=फोटो;व्हिडीओ;वेबकॅम;कॅमेरा;बूथ;
Keywords[nb]=Bilde;Video;Nettkamera;Kamera;Avlukke;
Keywords[nl]=Foto;Video;Webcam;Camera;Booth;
Keywords[nn]=Bilde;Video;Webkamera;Kamera;Booth;
Keywords[pl]=Zdjęcia;filmy;wideo;kamera;kamerka;automat;aparat;
Keywords[pt]=Foto;Video;Webcam;Câmera;Cabine;
Keywords[pt_BR]=Foto;Vídeo;Webcam;Câmera;Cabine;
Keywords[ru]=Фото;Видео;Веб-камера;Камера;Будка;
Keywords[sl]=Photo;Video;Kamera;Slike;Slikanje;Posnetek;Webcam;Camera;Booth;
Keywords[sr]=Slika;Snimak:Internet kamera;Kamera;Štand;
Keywords[sv]=Foto;Video;Webbkamera;Kamera;Bås;
Keywords[tl]=Larawan;Video;Webcam;Kamera;Booth;
Keywords[tr]=Fotoğraf;Video;Webcam;Kamera;Kabin;
Keywords[uk]=Фото;Відео;Вебкамера;Камера;Фотобудка;Фотокабінка;
Keywords[zh_CN]=照片;视频;网络摄像头;相机;Booth;
Keywords[zh_TW]=Photo;Video;Webcam;Camera;Booth;拍照;影片;網路攝影機;相機;相館;
Keywords=Photo;Video;Webcam;Camera;Booth;
StartupNotify=true
