[Desktop Entry]
Type=Application
Name[ak]=Kalɛnda
Name[ar]=التقويم
Name[bg]=Календар
Name[bs]=Kalendar
Name[ca]=Calendari
Name[cs]=Kalendář
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[en_AU]=Calendar
Name[en_CA]=Calendar
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[gl]=Calendario
Name[he]=לוח שנה
Name[hi]=कैलेंडर
Name[hr]=Kalendar
Name[hu]=Naptár
Name[id]=Kalender
Name[it]=Calendario
Name[ja]=カレンダー
Name[ko]=달력
Name[ku]=Salname
Name[lt]=Kalendorius
Name[mr]=कॅलेंडर
Name[ms]=Kalendar
Name[nb]=Kalender
Name[nl]=Agenda
Name[nn]=Kalender
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ru]=Календарь
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sq]=Kalendar
Name[sr]=Календар
Name[sv]=Kalender
Name[szl]=Kalyndorz
Name[tr]=Takvim
Name[ug]=كالېندار
Name[uk]=Календар
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Name=Calendar
GenericName[ak]=Kalɛnda
GenericName[ar]=التقويم
GenericName[bg]=Календар
GenericName[bs]=Kalendar
GenericName[ca]=Calendari
GenericName[cs]=Kalendář
GenericName[da]=Kalender
GenericName[de]=Kalender
GenericName[el]=Ημερολόγιο
GenericName[en_AU]=Calendar
GenericName[en_CA]=Calendar
GenericName[en_GB]=Calendar
GenericName[eo]=Kalendaro
GenericName[es]=Calendario
GenericName[et]=Kalender
GenericName[fi]=Kalenteri
GenericName[fr]=Calendrier
GenericName[gl]=Calendario
GenericName[he]=לוח שנה
GenericName[hi]=कैलेंडर
GenericName[hr]=Kalendar
GenericName[hu]=Naptár
GenericName[id]=Kalender
GenericName[it]=Calendario
GenericName[ja]=カレンダー
GenericName[ko]=달력
GenericName[ku]=Salname
GenericName[lt]=Kalendorius
GenericName[mr]=कॅलेंडर
GenericName[ms]=Kalendar
GenericName[nb]=Kalender
GenericName[nl]=Agenda
GenericName[nn]=Kalender
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Calendário
GenericName[ru]=Календарь
GenericName[sk]=Kalendár
GenericName[sl]=Koledar
GenericName[sq]=Kalendar
GenericName[sr]=Календар
GenericName[sv]=Kalender
GenericName[szl]=Kalyndorz
GenericName[tr]=Takvim
GenericName[ug]=كالېندار
GenericName[uk]=Календар
GenericName[zh_CN]=日历
GenericName[zh_TW]=行事曆
GenericName=Calendar
Comment[ak]=Hwɛ anaa hyehyɛ wo nnwuma ahoroɔ
Comment[ar]=اعرض و جدول الأحداث
Comment[bg]=Преглеждане и насрочване на събития
Comment[bs]=Pregledajte i planirajte termine
Comment[ca]=Visualitzeu i programeu esdeveniments
Comment[cs]=Prohlížejte a plánujte události
Comment[da]=Vis og planlæg begivenheder
Comment[de]=Termine ansehen und planen
Comment[en_AU]=View and schedule events
Comment[en_CA]=View and schedule events
Comment[en_GB]=View and schedule events
Comment[eo]=Vidi kaj organizi eventojn
Comment[es]=Vea y programe eventos
Comment[et]=Sündmuste planeerimine ja haldamine
Comment[fi]=Katsele ja aikatauluta tapahtumia
Comment[fr]=Organiser et planifier des événements
Comment[gl]=Vexa e programe eventos
Comment[he]=צפייה באירועים ותזמונם
Comment[hi]=इवेंट देखें और शेड्यूल करें
Comment[hr]=Pregledajte i zakažite događaje
Comment[hu]=Események megtekintése és ütemezése
Comment[id]=Lihat dan jadwalkan acara
Comment[it]=Visualizza e pianifica gli eventi
Comment[ja]=予定の表示と計画をします
Comment[ko]=이벤트를 확인하고 편집합니다
Comment[lt]=Žiūrėti bei planuoti įvykius
Comment[mr]=कार्यक्रम पहा आणि शेड्यूल करा
Comment[ms]=Lihat dan jadualkan peristiwa-peristiwa
Comment[nb]=Vis og planlegg hendelser
Comment[nl]=Bekijk en maak afspraken
Comment[nn]=Vis og planlegg hendingar
Comment[pl]=Przeglądaj i planuj wydarzenia
Comment[pt]=Ver e programar eventos
Comment[pt_BR]=Visualizar e agendar eventos
Comment[ru]=Просмотр и создание событий
Comment[sk]=Zobraziť a plánovať udalosti
Comment[sl]=Pregled in načrtovanje dogodkov
Comment[sq]=Shiko dhe planifiko ngjarje
Comment[sr]=Прегледајте и распоредите догађаје
Comment[sv]=Visa och schemalägg händelser
Comment[szl]=Ôglōndej i planuj zdarzynia
Comment[tr]=Etkinlikleri görüntüle ve planla
Comment[ug]=پائالىيەتلەرنى كۆرۈش ۋە ئورۇنلاشتۇرۇش
Comment[uk]=Показати та скласти розклад подій
Comment[zh_CN]=查看并安排活动
Comment[zh_TW]=查看和安排事件
Comment=View and schedule events
Exec=io.elementary.calendar %U
Icon[ak]=office-calendar
Icon[bs]=office-calendar
Icon[ca]=office-calendar
Icon[cs]=office-calendar
Icon[da]=office-calendar
Icon[de]=office-calendar
Icon[en_AU]=office-calendar
Icon[en_GB]=office-calendar
Icon[eo]=office-calendar
Icon[es]=office-calendar
Icon[fi]=office-calendar
Icon[fr]=office-calendar
Icon[gl]=office-calendar
Icon[he]=office-calendar
Icon[hi]=office-calendar
Icon[id]=office-calendar
Icon[it]=office-calendar
Icon[ja]=office-calendar
Icon[ko]=office-calendar
Icon[lt]=office-calendar
Icon[mr]=office-calendar
Icon[nb]=office-calendar
Icon[nl]=office-calendar
Icon[nn]=office-calendar
Icon[pl]=office-calendar
Icon[pt]=office-calendar
Icon[pt_BR]=office-calendar
Icon[ru]=office-calendar
Icon[sk]=office-calendar
Icon[sl]=office-calendar
Icon[sv]=office-calendar
Icon[szl]=office-calendar
Icon[tr]=office-calendar
Icon[uk]=office-calendar
Icon[zh_CN]=office-calendar
Icon=office-calendar
Terminal=false
Categories=GTK;Office;Calendar;
StartupNotify=true
MimeType=text/calendar;
Keywords[ak]=Maya;Nhyehyɛe;Dates;Nna;Dwumadie;Calendar;ics;caldav;evolution;
Keywords[bg]=Мая;планировчик;дати;дни;мероприятия;календар;
Keywords[bs]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[ca]=Maya;Planificador;Dates;Dies;Esdeveniments;Calendari;ics;caldav;evolution;
Keywords[cs]=Maya;Plánovač;Termíny;Dny;Události;Kalendář;ics;caldav;evolution;
Keywords[da]=Maya;Planlægning;Datoer;Dage;Begivenheder;Kalender;ics;caldav;evolution;
Keywords[de]=Maya;Terminplaner;Termine;Tage;Ereignisse;Kalender;ics;CalDAV;Evolution;
Keywords[en_AU]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[en_CA]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[en_GB]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Keywords[eo]=Maya;Organizilo;Datoj;Tagoj;Eventoj;Kalendaro;ics;caldav;evolution;
Keywords[es]=Maya;Planificador;Fechas;Dias;Eventos;Calendario;ics;caldav;evolution;
Keywords[et]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;planeerija;planeerimine;aeg;kuupäev;sündmused;tunnid;
Keywords[fi]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;kalenteri;tapahtumat;
Keywords[fr]=Maya;Planning;Dates;Jours;Événements;Calendrier;ics;caldav;évolution;
Keywords[gl]=Maya;Planificador;Datas;Días;Eventos;Calendario;ics;caldav;evolution;
Keywords[he]=תכנון;תאריכים;פגישות;ימים;אירועים;יומן;לוח;שנה;
Keywords[hi]=माया; योजनाकार; दिनांक; दिन; घटनाओं; कैलेंडर; आईसीएस; CalDAV; विकास;
Keywords[hr]=Maja;Planer;Datumi;Dani;Događaji;Kalendar;ics;caldav;evolution;
Keywords[hu]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;Tervező;Dátumok;Napok;Események;Naptár;
Keywords[id]=Maya;Perencana;Tanggal;Hari;Acara;Kalender;ics;caldav;evolution;
Keywords[it]=Maya;Pianifica;Appuntamenti;Giorni;Eventi;Calendario;ics;caldav;evolution;
Keywords[ja]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;日付;日;予定;カレンダー;
Keywords[ko]=마야,일정표;날짜;요일;이벤트;캘린더;ics;caldav;에볼루션;
Keywords[lt]=Maya;Planuoklis;Planuotojas;Datos;Dienos;Įvykiai;Kalendorius;Ivykiai;ics;caldav;evolution;
Keywords[mr]=माया; प्लॅनर; तारखा; दिवस; घटना; कॅलेंडर; ics; caldav; उत्क्रांती;
Keywords[ms]=Maya;Perancang;Tarikh;Hari;Acara-acara;Kalendar;ics;caldav;evolution;
Keywords[nb]=Maya;Planlegger;Datoer;Dager;Hendelser;Kalender;ics,caldav;evolution;
Keywords[nl]=Maya;kalender;datums;dagen;gebeurtenissen;agenda;ics;caldav;evolution;
Keywords[nn]=Maya;Planleggar;Datoar;Dagar;Hendingar;Kalender;ics;caldav;evolution;
Keywords[pl]=Maya;Planista;Daty;Dni;Wydarzenia;Kalendarz;ics;caldav;evolution;
Keywords[pt]=Maya;Planear;Datas;Eventos;Calendário;ics;caldav;evolution;
Keywords[pt_BR]=Maya;Planejar;Datas;Dias;Eventos;Calendário;ics;caldav;evolution;
Keywords[ru]=Майя;Планировщик;Даты;Дни;События;Календарь;ics;caldav;evolution;
Keywords[sk]=Maya;Plánovač;Dátumy;Dni;Udalosti;Kalendár;ics;caldav;evolution;
Keywords[sl]=Maya;Rokovnik;Datumi;Dnevi;Dogodki;Koledar;ics;caldav;evolution;
Keywords[sq]=Maya;Planifikues;Data;Dita;Ngjarje;Event;Kalendar;ics;caldav;evolution;
Keywords[sr]=маја;планер;датуми;дани;догађаји;календар;
Keywords[sv]=Maya;Planerare;Datum;Dagar;Event;Kalender;ics;caldav;evolution;
Keywords[szl]=maya;plan;daty;dziyń;dni;zdarzynia;kalyndorz;ics;caldav;evolution;
Keywords[tr]=Maya;Planlayıcı;Tarih;Gün;Etkinlikler;Takvim;ics;caldav;evrim;
Keywords[ug]=مايا؛ پلانلاش؛ ئۇچرىشىش؛ كۈنلەر؛ پائالىيەتلەر؛ كالېندار؛ ICS;CalDAV;Evolution;
Keywords[uk]=Майя;Планер;Дати;Дні;Події;Календар;ics;caldav;evolution;
Keywords[zh_CN]=日历;安排;约会;日期;活动;日历;ICS;CalDAV;Evolution;
Keywords[zh_TW]=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;行事曆;排程;行程;
Keywords=Maya;Planner;Dates;Days;Events;Calendar;ics;caldav;evolution;
Actions=AddEvent;
X-GNOME-UsesNotifications=true

[Desktop Action AddEvent]
Name[ak]=Dwuma Foforɔ
Name[ar]=أضف حدث
Name[bg]=Добавяне на събитие
Name[bs]=Dodaj događaj
Name[ca]=Afegeix un esdeveniment
Name[cs]=Přidat událost
Name[da]=Tilføj Event
Name[de]=Termin hinzufügen
Name[en_AU]=Add Event
Name[en_CA]=Add Event
Name[en_GB]=Add Event
Name[eo]=Aldoni eventon
Name[es]=Añadir evento
Name[et]=Sündmuse lisamine
Name[fi]=Lisää tapahtuma
Name[fr]=Ajouter un événement
Name[gl]=Engadir evento
Name[he]=הוספת אירוע
Name[hi]=घटना जोडें
Name[hr]=Dodaj događaj
Name[hu]=Esemény hozzáadása
Name[id]=Tambah Acara
Name[it]=Aggiungi un evento
Name[ja]=予定を追加
Name[ko]=이벤트 추가
Name[ku]=bûyer Zêde bike
Name[lt]=Pridėti įvykį
Name[mr]=नवीन घटना जोडा
Name[ms]=Menambah Acara
Name[nb]=Opprett hendelse
Name[nl]=Gebeurtenis toevoegen
Name[nn]=Lag ei hending
Name[pl]=Dodaj wydarzenie
Name[pt]=Adicionar Evento
Name[pt_BR]=Adicionar evento
Name[ru]=Добавить событие
Name[sk]=Pridať udalosť
Name[sl]=Dodaj dogodek
Name[sq]=Shto ngjarje
Name[sr]=Додај догађај
Name[sv]=Lägg till händelse
Name[szl]=Przidej zdarzynie
Name[tr]=Etkinlik Ekle
Name[ug]=پائالىيەت قىتىش
Name[uk]=Додати Подію
Name[zh_CN]=添加活动
Name[zh_TW]=加入事件
Name=Add Event
Exec=io.elementary.calendar -a
