[Desktop Entry]
Type=Application
Name[af]=Musiek
Name[ak]=Music
Name[ar]=الموسيقى
Name[az]=Musiqi
Name[be]=Музыка
Name[bg]=Музика
Name[bs]=Muzika
Name[ca]=Música
Name[ckb]=موزیک
Name[cs]=Hudba
Name[da]=Musik
Name[de]=Musik
Name[el]=Μουσική
Name[en_AU]=Music
Name[en_CA]=Music
Name[en_GB]=Music
Name[eo]=Muziko
Name[es]=Música
Name[et]=Muusika
Name[eu]=Musika
Name[fa]=موسیقی
Name[fi]=Musiikki
Name[fr]=Musique
Name[fr_CA]=Musique
Name[gl]=Música
Name[he]=מוזיקה
Name[hi]=संगीत
Name[hr]=Glazba
Name[hu]=Zene
Name[hy]=Երաժշտություն
Name[ia]=Musica
Name[id]=Musik
Name[ie]=Musica
Name[it]=Musica
Name[ja]=ミュージック
Name[ka]=მუსიკა
Name[ko]=음악
Name[ku]=Mûzîk
Name[lb]=Musek
Name[lg]=Ennyimba
Name[lt]=Muzika
Name[lv]=Mūzika
Name[mo]=Muzică
Name[mr]=संगीत
Name[ms]=Muzik
Name[nb]=Musikk
Name[nl]=Muziek
Name[nn]=Musikk
Name[pl]=Muzyka
Name[pt]=Música
Name[pt_BR]=Música
Name[ro]=Muzică
Name[ru]=Музыка
Name[si]=ගීත
Name[sk]=Hudba
Name[sl]=Glasba
Name[sq]=Muzika
Name[sr]=Музика
Name[sv]=Musik
Name[sw]=Muziki
Name[szl]=Muzyka
Name[ta]=இசை
Name[tl]=Musika
Name[tr]=Müzik
Name[ug]=مۇزىكا
Name[uk]=Музика
Name[vi]=Nhạc
Name[zh_CN]=音乐
Name[zh_TW]=音樂
Name=Music
GenericName[af]=Musiekspeler
GenericName[ak]=Nnwom Bɔ Dwumadi
GenericName[am]=ሙዚቃ ማጫወቻ
GenericName[ar]=مشغّل الموسيقى
GenericName[az]=Musiqi oxuducusu
GenericName[be]=Прайгравальнік музыкі
GenericName[bg]=Музикален свирач
GenericName[bs]=Muzički plejer
GenericName[ca]=Reproductor de música
GenericName[ckb]=لێدەری موسیک
GenericName[cs]=Hudební přehrávač
GenericName[da]=Musikafspiller
GenericName[de]=Musikwiedergabe
GenericName[el]=Αναπαραγωγέας μουσικής
GenericName[en_AU]=Music Player
GenericName[en_CA]=Music Player
GenericName[en_GB]=Music Player
GenericName[eo]=Muzikilo
GenericName[es]=Música
GenericName[et]=Muusikamängija
GenericName[eu]=Musika erreproduzigailua
GenericName[fa]=پخش کننده موسیقی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur audio
GenericName[fr_CA]=Lecteur de musique
GenericName[gl]=Reprodutor de música
GenericName[he]=נגן המוזיקה
GenericName[hr]=Glazbeni reproduktor
GenericName[hu]=Zenelejátszó
GenericName[hy]=Նվագարկիչ
GenericName[ia]=Reproductor de musica
GenericName[id]=Pemutar Musik
GenericName[ie]=Reproductor de musica
GenericName[it]=Riproduttore musicale
GenericName[ja]=ミュージックプレーヤー
GenericName[ka]=მუსიკის დამკვრელი
GenericName[ko]=음악 재생기
GenericName[ku]=Lêderê Mûzîkê
GenericName[lb]=Musekspiller
GenericName[lg]=Sofutiware w'ennyimba
GenericName[lt]=Muzikos grotuvas
GenericName[lv]=Mūzikas atskaņotājs
GenericName[mo]=Reproductor de muzică
GenericName[mr]=संगीत प्लेअर
GenericName[ms]=Pemain Muzik
GenericName[nb]=Musikkavspiller
GenericName[nl]=Muziekspeler
GenericName[nn]=Musikkspelar
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt]=Reprodutor de música
GenericName[pt_BR]=Reprodutor de música
GenericName[ro]=Player muzical
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Prehrávač hudby
GenericName[sl]=Predvajalnik glasbe
GenericName[sq]=Riprodhues muzikor
GenericName[sr]=Програм за пуштање музике
GenericName[sv]=Musikspelare
GenericName[sw]=Muziki
GenericName[ta]=இசை இயக்கி
GenericName[tl]=Pampatugtog ng Musika
GenericName[tr]=Müzik Çalar
GenericName[ug]=مۇزىكا قويغۇچ
GenericName[uk]=Музичний програвач
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放器
GenericName=Music Player
Comment[af]=Luister na musiek
Comment[ak]=Tie nnwom
Comment[am]=ሙዚቃ ያድምጡ
Comment[ar]=إستمع للموسيقى
Comment[az]=Musiqiyə qulaq asın
Comment[be]=Слухаць музыку
Comment[bg]=Слушане на музика
Comment[bs]=Slušajte muziku
Comment[ca]=Escolteu música
Comment[ckb]=گوێ لە گۆرانی بگرە
Comment[cs]=Poslouchejte hudbu
Comment[da]=Lyt til musik
Comment[de]=Musik anhören
Comment[el]=Ακούστε μουσική
Comment[en_AU]=Listen to music
Comment[en_CA]=Listen to music
Comment[en_GB]=Listen to music
Comment[eo]=Aŭskulti muzikon
Comment[es]=Escucha música
Comment[et]=Muusika kuulamine
Comment[eu]=Entzun musika
Comment[fa]=گوش دادن به موسیقی
Comment[fi]=Kuuntele musiikkia
Comment[fr]=Écouter de la musique
Comment[fr_CA]=Écouter de la musique
Comment[gl]=Escoite música
Comment[he]=האזנה למוזיקה
Comment[hr]=Slušajte glazbu
Comment[hu]=Zene hallgatása
Comment[hy]=Լսել երաժշտություն
Comment[id]=Dengarkan music
Comment[ie]=Escutar musica
Comment[it]=Ascolta la tua musica
Comment[ja]=音楽を聴きます
Comment[ka]=მოუსმინეთ მუსიკას
Comment[ko]=음악 듣기
Comment[ku]=Muzîk le bihîstin
Comment[lb]=Lauschter Musek
Comment[lg]=Wuliriza ennyimba
Comment[lt]=Klausytis muzikos
Comment[lv]=Klausies muziku
Comment[mo]=Ascultă muzică
Comment[mr]=संगीत ऐका
Comment[ms]=Dengari muzik
Comment[nb]=Lytt til musikk
Comment[nl]=Luister naar muziek
Comment[nn]=Høyr på musikk
Comment[pl]=Słuchaj muzykę
Comment[pt]=Ouvir música
Comment[pt_BR]=Ouvir música
Comment[ro]=Ascultare muzică
Comment[ru]=Слушайте музыку
Comment[sk]=Počúvať hudbu
Comment[sl]=Poslušajte glasbo
Comment[sq]=Dëgjo muzikë
Comment[sr]=Слушајте музику
Comment[sv]=Lyssna på musik
Comment[sw]=Sikiza muziki
Comment[tl]=Makinig sa musika
Comment[tr]=Müzik dinle
Comment[ug]=مۇزىكا ئاڭلاش
Comment[uk]=Слухати музику
Comment[zh_CN]=聆听音乐
Comment[zh_TW]=聆聽音樂
Comment=Listen to music
Exec=io.elementary.music %U
Icon[bg]=multimedia-audio-player
Icon[bs]=multimedia-audio-player
Icon[ca]=multimedia-audio-player
Icon[cs]=multimedia-audio-player
Icon[da]=multimedia-audio-player
Icon[de]=multimedia-audio-player
Icon[el]=multimedia-audio-player
Icon[en_GB]=multimedia-audio-player
Icon[eo]=multimedia-audio-player
Icon[es]=multimedia-audio-player
Icon[et]=multimedia-audio-player
Icon[fi]=multimedia-audio-player
Icon[fr]=multimedia-audio-player
Icon[he]=multimedia-audio-player
Icon[hr]=multimedia-audio-player
Icon[hu]=multimedia-audio-player
Icon[id]=pemutar-audio-multimedia
Icon[it]=multimedia-audio-player
Icon[ja]=multimedia-audio-player
Icon[ko]=multimedia-audio-player
Icon[lt]=multimedia-audio-player
Icon[mr]=multimedia-audio-player
Icon[nb]=multimedia-audio-player
Icon[nl]=multimedia-audio-player
Icon[nn]=multimedia-audio-player
Icon[pl]=multimedia-audio-player
Icon[pt]=multimedia-audio-player
Icon[pt_BR]=multimedia-audio-player
Icon[ru]=мультимедийный аудио-плеер
Icon[sl]=multimedia-audio-player
Icon[sv]=multimedia-audio-player
Icon[tr]=multimedia-audio-player
Icon[zh_CN]=multimedia-audio-player
Icon[zh_TW]=multimedia-audio-player
Icon=multimedia-audio-player
Terminal=false
Categories=Audio;Music;Player;AudioVideo;GNOME;GTK;
MimeType=x-content/audio-player;x-content/audio-cdda;application/ogg;application/x-extension-m4a;application/x-extension-mp4;application/x-flac;application/x-ogg;audio/3gpp;audio/aac;audio/ac3;audio/AMR;audio/AMR-WB;audio/basic;audio/flac;audio/midi;audio/mp2;audio/mp4;audio/mpeg;audio/ogg;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-gsm;audio/x-it;audio/x-m4a;audio/x-matroska;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;audio/x-ms-wma;audio/x-musepack;audio/x-opus+ogg;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-realaudio;audio/x-pn-realaudio-plugin;audio/x-pn-wav;audio/x-pn-windows-acm;audio/x-realaudio;audio/x-real-audio;audio/x-sbc;audio/x-scpls;audio/x-speex;audio/x-tta;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;audio/x-wavpack;audio/x-xm;audio/x-s3m;
StartupNotify=true
Keywords[ak]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[az]=Səs-küy;Səs;Oxuducu;MP3;iPod;Play;Mahnı siyahı;Media;CD;Telefon;Mahnılar;
Keywords[bg]=Шум;Музика;Плеър;МП3;айПод;Пусни;Музикален списък;Диск;Телефон;Песни;
Keywords[bs]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;Plejer;Pjesem;Mediji;
Keywords[ca]=Noise;Àudio;Reproductor;MP3;iPod;Play;Reproduir;Llista de reproducció;Multimèdia;Media;CD;Telèfon;Cançons;
Keywords[cs]=Noise;Audio;Přehrávač;MP3;iPod;Přehrát;Seznam skladeb;Média;CD;Phone;Skladby;Music;
Keywords[da]=Noise;Lyd;Afspiller;MP3;iPod;Afspil;Spilleliste;Medie;CD;Telefon;Numre;
Keywords[de]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;Abspielen;Musik;Lied;Stück;
Keywords[el]=Noise;Ήχος;Αναπαραγωγέας;MP3;Αναπαραγωγή;Λίστα;Πολυμέσα;Δίσκος;Τηλέφωνο;Τραγούδια;
Keywords[en_AU]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[en_CA]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[en_GB]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[eo]=brui;aŭdo;ludilo;MP3;iPod;muziko;kanto;listo;aŭdvido;lumdisko;KD;telefono;
Keywords[es]=Noise;Audio;Reproductor;MP3;iPod;Reproducir;Lista de reproducción;Multimedia;Media;CD;Teléfono;Canciones;
Keywords[et]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;Esitaja;Esita;Meedia;Esitusloend;Muusika;Mobla;Mobiiltelefon;Laulud;
Keywords[eu]=Noise;Audioa;Erreproduzitzailea;MP3;iPod;Erreproduzitu;Erreprodukzio-zerrenda;Multimedia;CD;Mugikorra;Abestiak;
Keywords[fa]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[fi]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;Ääni;Soitin;Soittolista;Soita;Toista;Puhelin;Kappaleet;Raidat;
Keywords[fr]=Bruit;Audio;Lecteur;MP3;iPod;Lire;Playlist;Liste de lecture;Média;CD;Téléphone;Musique;Chanson;
Keywords[fr_CA]=Noise;Audio;Lecteur;MP3;iPod;Lire;Playlist;Liste de lecture;Média;CD;Téléphone;Musique;Chanson;
Keywords[gl]=Noise;Son;Reprodutor;MP3;iPod;Reproducir;Lista de reprodución;Multimedia;CD;Teléfono;Cancións;
Keywords[he]=Noise;נגן;מוזיקה;MP3;אייפוד;נגן;רשימת-נגינה;מדיה;CD;פלאפון;שירים;
Keywords[hr]=Noise;Zvuk;Reproduktor;mp3;iPod;Reproduciraj;Popis izvođenja;Medij;CD;Telefon;Pjesme;
Keywords[hu]=Noise;Audió;Lejátszó;MP3;iPod;Lejátszás;Lejátszási lista;Média;CD;Telefon;Számok;
Keywords[hy]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[id]=Noise;Audio;Player;MP3;IPod;Player;CD;Songs;Lagu;Musik;
Keywords[ie]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Reproductor;Telefon;Canzone;
Keywords[it]=Noise;Audio;Riproduttore;MP3;iPod;Riproduci;Playlist;Media;CD;Telefono;Brani;
Keywords[ja]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;オーディオ;プレーヤー;再生;プレイリスト;メディア;電話;曲;
Keywords[ka]=Noise;აუდიო;დამკვრელი;MP3;iPod;დაკვრა;სია;მედია;CD;ტელეფონი;სიმღერები;
Keywords[ko]=노이즈;오디오;플레이어;MP3;iPod;재생;재생 목록;미디어;CD;폰;음악들;
Keywords[ku]=Noise;deng;Lêder;MP3;iPod;lîstik;Pirrjimara lîstik;Media;CD;telefon;stiran;
Keywords[lg]=Kelere;Ebyogera;Sofutiware;MP3;iPod;Zannya;Olukalala;Failo;CD;Esiimu;Ennyimba;
Keywords[lt]=Noise;Leistuvė;Garsas;Grotuvas;MP3;iPod;Groti;Grojaraštis;Medija;CD;Telefonas;Dainos;Giesmės;
Keywords[lv]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[mo]=Zgomot, audio, player, MP3, iPod, Redare, listei de redare media, CD-uri, telefoane; cântece;
Keywords[mr]=ध्वनी; ऑडियो; प्लेअर; एमपी 3; आयपॉड; प्ले; प्लेलिस्ट; मीडिया; सीडी; फोन; गाणी;
Keywords[ms]=Noise;Audio;Pemain;MP3;iPod;Main;Senarai Main;Media;CD;Telefon;Lagu;
Keywords[nb]=Noise;Audio;Spiller;MP3;iPod;Spill;Spilleliste;Media;CD;Telefon;Sanger;
Keywords[nl]=Noise;Muziek;Speler;Audio;MP3;iPod;Afspeellijst;Speel;Media;CD;Telefoon;Liedjes;
Keywords[nn]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[pl]=Muzyka;Noise;Dźwięk;Audio;Odtwarzacz;MP3;iPod;Odtwarzaj;Lista odtwarzania;Media;CD; Telefon;Piosenki;
Keywords[pt]=Ruído;Áudio;Reprodutor;MP3;iPod;Tocar;Lista de reprodução;Média;CD;Telefone;Músicas;
Keywords[pt_BR]=Noise;Áudio;Reprodutor;MP3;iPod;Tocar;Lista de reprodução;Mídia;CD;Telefone;Músicas;
Keywords[ro]=Noise;Audio;Player;MP3;iPod;Redare;Listă de redare;Media;CD;Telefon;Melodii;
Keywords[ru]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
Keywords[sk]=Hlas;Zvuk;Prehrávač;MP3;iPod;Play;Playlist;Média;CD;Mobil;Hudba;
Keywords[sl]=Noise;Audio;Predvajalnik;Glasba;MP3;iPod;Igraj;Media;CD;Play;Phone;Songs;Pesmi;
Keywords[sq]=Noise;Audio,Riprodhues;MP3;iPod;Riprodho;Playlist;Media;CD;Telefon;Këngë;
Keywords[sr]=музика;аудио;пуштач;мп3;иПад;пусти;списак;медиј;ЦД;телефон;песме;
Keywords[sv]=Noise;Ljud;Spelare;MP3;iPod;Spela;Spellista;Media;CD;Telefon;Låtar;
Keywords[sw]=Kelele; Sauti; Kichezaji; MP3; iPod; Cheza; Orodaha ya kucheza; Santuri; Simu; Nyimbo;
Keywords[ta]=சத்தம்;ஆடியோ;பிளேயர்;எம்பி3;ஐபாட்;பிளே;பிளேலிஸ்ட்;மீடியா;குறுவட்டு;தொலைபேசி;பாடல்கள்;
Keywords[tl]=Ingay;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Telepono;Awitin;
Keywords[tr]=Noise;Ses;Oynatıcı;MP3;iPod;Çal;Çalma Listesi;Medya;CD;Telefon;Şarkılar;
Keywords[ug]=ئاۋاز; ئاۋاز ھۆججىتى; قويغۇچ; MP3; iPod; قويۇش; قويۇش تىزىملىكى; مېدىئا; CD; تېلىفون; ناخشىلار;
Keywords[uk]=Noise;Audio;Аудіо;Player;Програвач;MP3;iPod;Відтворення;Playlist;Список відтворення;Плейлист;Медіа;Media;CD;Телефон;Пісні;Музика;
Keywords[zh_CN]=Noise;音频;播放器;MP3;iPod;播放;播放列表;媒体;CD;电话;歌曲;
Keywords[zh_TW]=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;音樂;音訊;播放器;播放;播放清單;媒體;光碟;唱片;手機;歌;曲;
Keywords=Noise;Audio;Player;MP3;iPod;Play;Playlist;Media;CD;Phone;Songs;
X-GNOME-UsesNotifications=true
X-PulseAudio-Properties=media.role=music
