[Desktop Entry]
Name[ca]=Wingpanel
Name[en_AU]=Wingpanel
Name[en_CA]=Wingpanel
Name[en_GB]=Wingpanel
Name[eo]=Alopanelo
Name[es]=Wingpanel
Name[fr]=Wingpanel
Name[he]=Wingpanel
Name[ja]=Wingpanel
Name[mr]=विंगपॅनेल
Name[nl]=Vleugelpaneel
Name[pt]=Wingpanel
Name[tr]=Wingpanel
Name[zh_TW]=Wingpanel
Name=Wingpanel
Comment[ca]=Plafó superior que conté indicadors i el menú d'aplicacions
Comment[en_AU]=Top panel that holds indicators and the applications menu
Comment[en_CA]=Top panel that holds indicators and the applications menu
Comment[en_GB]=Top panel that holds indicators and the applications menu
Comment[eo]=Supra panelo kiu entenas indikilojn kaj la aplikaĵan menuon
Comment[es]=Panel superior que contiene indicadores y el menú de aplicaciones
Comment[fr]=Panneau supérieur qui contient les indicateurs et le menu des applications
Comment[he]=לוח עליון שמציג את ההתראות ואת תפריט היישומים
Comment[ja]=インジケーターとアプリケーションメニューを表示する最上部のパネル
Comment[mr]=शीर्ष पॅनेल ज्यात सूचक आणि अनुप्रयोग मेनू असतात
Comment[nl]=Bovenste paneel met de indicatoren en het toepassingen menu
Comment[pt]=Painel superior que contém indicadores e o menu de aplicações
Comment[tr]=Göstergeleri ve uygulamalar menüsünü içeren üst panel
Comment=Top panel that holds indicators and the applications menu
Exec=wingpanel
Icon[ca]=io.elementary.wingpanel
Icon[en_GB]=io.elementary.wingpanel
Icon[eo]=io.elementary.wingpanel
Icon[es]=io.elementary.wingpanel
Icon[fr]=io.elementary.wingpanel
Icon[he]=io.elementary.wingpanel
Icon[ja]=io.elementary.wingpanel
Icon[mr]=io.elementary.wingpanel
Icon[nl]=io.elementary.wingpanel
Icon[pt]=io.elementary.wingpanel
Icon[tr]=io.elementary.wingpanel
Icon=io.elementary.wingpanel
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
X-Ubuntu-Gettext-Domain=wingpanel
