[Desktop Entry]
Name[ar]=الطرفية
Name[az]=Terminal
Name[bg]=Терминал
Name[bs]=Terminal
Name[ca]=Terminal
Name[cs]=Terminál
Name[da]=Terminal
Name[de]=Terminal
Name[el]=Τερματικό
Name[en_AU]=Terminal
Name[en_CA]=Terminal
Name[en_GB]=Terminal
Name[eo]=Terminalo
Name[es]=Terminal
Name[et]=Terminal
Name[fi]=Pääte
Name[fr]=Terminal
Name[fr_CA]=Terminal
Name[gl]=Terminal
Name[he]=מסוף
Name[hi]=टर्मिनल
Name[hr]=Terminal
Name[hu]=Terminál
Name[id]=Terminal
Name[it]=Terminale
Name[ja]=ターミナル
Name[ko]=터미널
Name[ku]=Termînal
Name[lt]=Terminalas
Name[lv]=Terminālis
Name[mo]=Terminalul
Name[mr]=टर्मिनल
Name[nb]=Terminal
Name[nl]=Terminal
Name[nn]=Terminal
Name[oc]=Terminal
Name[pl]=Terminal
Name[pt]=Terminal
Name[pt_BR]=Terminal
Name[ru]=Терминал
Name[sl]=Terminal
Name[sr]=Терминал
Name[sv]=Terminal
Name[szl]=Terminal
Name[tl]=Terminal
Name[tr]=Terminal
Name[ug]=تېرمىنال
Name[uk]=Термінал
Name[zh_CN]=终端
Name[zh_TW]=終端機
Name=Terminal
TryExec=io.elementary.terminal
Exec=io.elementary.terminal -w %u
Icon[bs]=utilities-terminal
Icon[ca]=utilities-terminal
Icon[cs]=utilities-terminal
Icon[da]=utilities-terminal
Icon[de]=utilities-terminal
Icon[en_AU]=utilities-terminal
Icon[en_CA]=utilities-terminal
Icon[en_GB]=utilities-terminal
Icon[eo]=utilities-terminal
Icon[es]=utilities-terminal
Icon[fi]=utilities-terminal
Icon[fr]=utilities-terminal
Icon[gl]=utilities-terminal
Icon[he]=utilities-terminal
Icon[hi]=utilities-terminal
Icon[hu]=utilities-terminal
Icon[id]=utilities-terminal
Icon[it]=utilities-terminal
Icon[ja]=utilities-terminal
Icon[ko]=utilities-terminal
Icon[lt]=utilities-terminal
Icon[mo]=utilities-terminal
Icon[mr]=utilities-terminal
Icon[nb]=utilities-terminal
Icon[nl]=utilities-terminal
Icon[nn]=utilities-terminal
Icon[pl]=utilities-terminal
Icon[pt]=utilities-terminal
Icon[pt_BR]=utilities-terminal
Icon[ru]=utilities-terminal
Icon[sv]=utilities-terminal
Icon[szl]=utilities-terminal
Icon[tr]=utilities-terminal
Icon[zh_CN]=utilities-terminal
Icon[zh_TW]=utilities-terminal
Icon=utilities-terminal
Type=Application
StartupNotify=true
X-GNOME-Gettext-Domain=io.elementary.terminal
NoDisplay=true
MimeType=inode/directory;
